@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-inter), sans-serif;
  background-color: #030303;
  color: #ffffff;
  overflow-x: hidden;
}

.mono {
  font-family: var(--font-jetbrains), monospace;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #030303;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@keyframes reveal {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-reveal {
  animation: reveal 1s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}
